body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: url('checkmark.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos del carrusel */
.carousel-container {
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe el 100% de su contenedor padre */
    max-width: 1000px; /* Puedes ajustar el tamaño máximo si es necesario */
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%; /* Esto asegura que cada imagen ocupe el 100% del contenedor */
    box-sizing: border-box;
    text-align: center;
}

.reporte-img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del tamaño de su contenedor */
    max-width: 100%; /* Previene que las imágenes se estiren más allá de su tamaño natural */
    height: auto; /* Esto mantiene la proporción de las imágenes */
    border-radius: 10px;
}

/* Estilo para los botones de navegación */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


